<div class="container-fluid mt-5">

  <div class="mt-5 container searchMainContainer mx-auto">
    <div class="spinner-grow searchingSpinner mainColor" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="searchingSpinner spinner-border accentColor" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="searchingSpinner spinner-grow mainColor" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="mt-5" align='center'>
    <h1>Please wait while we find a match...</h1>
  </div>
</div>
